#zee5{
    background-color: #121212;
}
.navbar{
    display: flex;
    margin-left: 15px;
    /* justify-content: space-between; */

}
.lnav{
    font-size: 18px;
    font-family: cursive;
    width: 500px;
    border: 2px solid #121212;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: aliceblue
}

.rnav{
    width: 700px;
    border: 2px solid #121212;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#src{
    background-color: #121212;
    color: white;
    outline: 0 ;
    height: 30px;
    border: 0px;
    border-radius: 20px;
    margin-left: 5px;
    /* border-top: 0px;
    border-bottom: 0px;
    border-right: 0px;
    border-left: 0px; */
}
/* #src:hover{
    background-color: #121212;

} */

.b1,.b2,.b3{
    width: 80px;
    border-radius: 10px;
    margin-left: 20px;
    font-family: cursive;
    border: 2px solid white;
    background-color: black;
    color: white;
    inline-size: 110px;
}
/* .b3{
    width: 80px;
    border-radius: 10px;
    margin-left: 20px;
    font-family: cursive;
    border: 2px solid white;
    background-color: black;
    color: white;
} */
/* .b3 img:hover{
    color: black;
} */
.b1:hover,.b2:hover,.b3:hover{
    background-color: white;
    color: black;
}
/* .b2{
    margin-left: 20px;
    font-family: cursive;
    border: 2px solid white;
    background-color: black;
    color: white;
}
.b3{
    margin-left: 20px;
    font-family: cursive;
    border: 2px solid white;
    background-color: black;
    color: white;

} */

.s1{
    border: 1px solid whitesmoke;
    border-radius:10px;
    padding: 5px;
}
.cards1{
    margin-left: 40px;
}
.cards{
    margin-top: 10px;
    border: 2ps solid black;
    display: flex;
    overflow-x: scroll;
}
.cards::-webkit-scrollbar{
    display: none;

}

.c1 img{
border-radius: 20px;
}
/* .c1 img:hover{
    height: 400px;
    width: 300px;
} */
.c1{
    border: 2px solid black;
    border-radius: 20px;
    transition: all;
    transition-duration: 0.5s;
}
.c1:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 100px whitesmoke;
    border-radius: 20px;
}

/* footer css */
.foot{
    border: 2px solid rgb(179, 179, 179);
    margin-top: 50px;
}
.mainfoot{ 
    margin-top: 30px;
    
}

.mf1{
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.f1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    width: 600px;
}

.f2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    width: 500px;
}
.mf2{
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    width: 600px;
    margin-left: 94px;
}

.fb{
    border: 2px solid #121212;
    background-color: rgb(51, 49, 49);
    /* border-radius: 30px; */
}
.fb:hover{
    background-color: blue;
}
.mff{
    display: flex;
}
.mf3{
    display: inline;
    color: white;
    margin-left: 110px;
}

.f3{
    margin-top: 10px;
    color: azure; 
}
/* .mf4{
    display: inline;
    color: white;
    margin-left: 130px;
}
.f4{
    margin-top: 10px;
    color: azure; 
} */
.rights{
    margin-top: 80px;
    font-size: 20px;
    color: white;
}
.p{
    color: white;
}